h1{
    color: gray;
}
#fotologo 
{
    width: 150px;
    height: 150px;
}
/*UN ID*/
#fotoanimada 
{
    width: 300px;
}
/*UNA CLASE*/
.bordes
{
 border:2px solid blue;/*una propiedad y su valor*/
}

#formularioInscripcion >label{

    color:red;

}